#app {
    /* font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
    /* text-align: center; */
    color: #2c3e50;
    font-family: "Open Sans", sans-serif;
    // min-height: 100vh;
    display: flex;
    font-size: 12px;
    flex-direction: column;
}
main {
    // padding-top: 200px;
    // flex: 1;
    overflow: hidden;
}

section {
    margin-bottom: 80px;
}

h1,
h2 {
    text-transform: capitalize;
}

.content {
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 22px;
}

body {
    /* background: #000; */
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    cursor: pointer;
    z-index: 100;
}
.close:hover {
    opacity: 1;
}
.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 2px;
    background-color: #fff;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

.btn-primary {
    background-color: #000;
    border: 1px solid #000;
    border-radius: 0;
    padding: 0.8rem 2rem;
    &:hover {
        background: #fff;
        border: 1px solid #000;
        color: #000;
    }

    &:not(:disabled):not(.disabled):active:focus,
    &:focus {
        background: #fff;
        border: 1px solid #000;
        color: #000;
        box-shadow: 0 0 0 2px #000;
    }
}

.hero {
    overflow: hidden;
    height: inherit;
    margin: 0;
    height: 800px;
    margin-bottom: 80px;
    .des-card {
        padding: 3rem;
        width: 100%;
        position: relative;
        // padding-top: 150px;
        min-height: 300px;
        background: rgba($color: #fff, $alpha: 0.8);
        max-width: 600px;
        margin: 0 auto;
        left: inherit;
        padding: 0 22px;
        padding-top: 200px;
        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.h-line {
    height: 1px;
    background: #999;
    width: 100%;
    margin-bottom: 1.5rem;
}

.text-content {
    max-width: 800px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    #app {
        font-size: 1rem;
    }
    section {
        margin-bottom: 150px;
    }
    .hero {
        margin-bottom: 150px;
    }
}
